<body>
  <div id="container-title">
    <h1 id="title">Welcome!</h1>
    <p id="subtitle">What about changing your gaming experience by better managing your backlog? Join our app!</p>
  </div>

  <div id="container-button">
    <button mat-raised-button routerLink="/home" id="sign-in-button">Home</button>
    <button mat-raised-button id="sign-in-button">Sign In</button>
    <button mat-raised-button color="primary" id="sign-up-button">Sign Up</button>
    <button mat-raised-button id="about-button">About</button>
  </div>

  <div id="image-container">
    <img src="../../../assets/images/gamer.svg" id="image">
  </div>
</body>
